* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h5 {
  color: rgba(0, 0, 0, 0.553);
}

.f1 {
  font-style: normal;
}

.bold {
  font-weight: 650;
  display: block;
}

.hidden {
  display: none;
}

.show {
  font-weight: 650;
  display: inline-block;
}

.card-container {
  margin: 70px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  height: 600px;
  width: 90%;
  align-items: center;
  padding: 50px;
  border-radius: 10px;
}

.card {
  background-color: white;
  height: 500px;
  width: 400px;
  border-radius: 20px;
  padding: 15px;

}

.card-name {
  text-align: center;
  border-bottom: 1px solid grey;
  padding: 10px;

}

.price {
  display: inline-block;
}

.duration {
  font-size: 0.8rem;
}

.features {
  padding-top: 15px;
}

p {
  padding-top: 17px;
  padding-left: 15px;
}

.button {
  margin-top: 17px;
  border-color: transparent;
  background-color: dodgerblue;
  text-align: center;
  height: 50px;
  width: 100%;
  border-radius: 30px;
  opacity: 0.7;
  font-weight: 700;
  color: white;
}

.card:hover {
  margin-top: -.25rem;
  margin-bottom: .25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.card:hover .button {
  opacity: 1;
}

.text-muted {
  opacity: 0.5;
}

@media only screen and (max-width:1300px) {

  .card-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    height: auto;
    width: auto;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
  }

  .card {
    background-color: white;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;

  }
}